/*ELEMENTOS/////////////////////////////////////////////////////////////*/

body{
	margin-top: 60px;
}


section {
	padding-top: 35px;
	padding-bottom: 15px;
	min-height: 100vh;
}


/* ID'S /////////////////////////////////////////////////////////////*/

#menu-footer ul li{
	display: inline-block;
	float: none;
}

/* CLASSES/////////////////////////////////////////////////////////////*/

.logo-navbar{

	width: 60px;
	margin-left: 20px;
	margin-right: 20px;
	transition-duration: 2s;
	transition-timing-function:  ease-in-out;

}
.div-apoio{
height: 300px;

}

.div-apoio > a>img{
margin-top: 30px;

}

.img-galeria{
 width: 70%; 
margin-left: 15%;
}
.logo-navbar:hover{
	width: 80px;
	transition-duration: 1.3s;
	transition-timing-function:  ease-in-out;
}


.icon-footer{

	font-size: 20px;
	/*padding: 12px;*/
}
.nome-navbar{

	font-size: large;
}



.fundo-tatame{
	background-image: url("../img/fundo.jpg");
	/*opacity: 0;*/
	background-repeat: repeat-x;	
	/*background-attachment: fixed;*/
	padding-top: 25px;
	padding-bottom: 15px;
}

.navbar-topo-bope{
	/*height: 20px;*/
	border-bottom-width: 10px;	
	border-bottom-color:#353535;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

.muda-texto:hover{
	transition-duration: 0.7s;
	transition-timing-function:  ease-in-out; 	
	color: #FF1919;
}

.muda-texto{
	transition-duration: 0.7s;
	transition-timing-function:  ease-in-out; 	
}

/*apoio*/

/* Type-1 */
.multi {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
	.carousel-control {
		width:  4%;
	}
	.carousel-control.left, .carousel-control.right {
		margin-left:15px;
		background-image:none;
	}
}

/*/////*/

/*SOBRE O PROJETO - LEIA MAIS*/

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .1s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  float: none;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Leia mais';
  margin: auto;
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Mostrar menos';
  margin: auto;
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: white;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
/*horizontal align label Sobre O Projeto*/
.label-sobre-proj {
	display: inline-block;
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
	padding: auto;
	text-align: center;
	float: none;
}