.logo-navbar{

	width: 60px;
	margin-left: 20px;
	margin-right: 20px
}


.nome-navbar{

	font-size: large;
}

body{

	margin-top: 60px;
	background-image: url("../img/fundo.jpg");
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-color: rgba(10,23,55,0.5);
}
.navbar-topo-bope{
	/*height: 20px;*/
	border-bottom-width: 10px;	
	border-bottom-color:#353535;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}