/*ELEMENTOS/////////////////////////////////////////////////////////////*/

body{
	margin-top: 60px;
}


section {
	padding-top: 35px;
	padding-bottom: 15px;
	min-height: 100vh;
}


/* ID'S /////////////////////////////////////////////////////////////*/

#menu-footer ul li{
	display: inline-block;
	float: none;
}

/* CLASSES/////////////////////////////////////////////////////////////*/

.logo-navbar{

	width: 60px;
	margin-left: 20px;
	margin-right: 20px;
	transition-duration: 2s;
	transition-timing-function:  ease-in-out;

}
.div-apoio{
height: 300px;

}

.div-apoio > a>img{
margin-top: 30px;

}

.img-galeria{
 width: 80%; 
margin-left: 10%;
}
.logo-navbar:hover{
	width: 80px;
	transition-duration: 1.3s;
	transition-timing-function:  ease-in-out;
}


.icon-footer{

	font-size: 20px;
	/*padding: 12px;*/
}
.nome-navbar{

	font-size: large;
}



.fundo-tatame{
	background-image: url("../img/fundo.jpg");
	/*opacity: 0;*/
	background-repeat: no-repeat;	
	/*background-attachment: fixed;*/
	padding-top: 25px;
	padding-bottom: 15px;
}

.navbar-topo-bope{
	/*height: 20px;*/
	border-bottom-width: 10px;	
	border-bottom-color:#353535;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

.muda-texto:hover{
	transition-duration: 0.7s;
	transition-timing-function:  ease-in-out; 	
	color: #FF1919;
}

.muda-texto{
	transition-duration: 0.7s;
	transition-timing-function:  ease-in-out; 	
}

/*apoio*/

/* Type-1 */
.multi {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
	.carousel-control {
		width:  4%;
	}
	.carousel-control.left, .carousel-control.right {
		margin-left:15px;
		background-image:none;
	}
}

/*/////*/