

body{
	margin-bottom: 60px;
}

.div-apoio{
	height: 180px;
}


.logo-navbar:hover{
	width: 60px;
	transition-duration: 1.3s;
	transition-timing-function:  ease-in-out;
}

.div-apoio>a>img{
	width: 150px;
	margin-left: 0%;
	margin-top: 10px;
}



@media only screen and (max-width: 939px) {

	.jumbotron{
		font-size: 30px;
	}
	h1,h2{
		font-size:30px ;
	}
	#mapa{
		width: 400px;
		height: 400px;
	}
	

}
@media only screen and (max-width: 500px) {
	h1,h2,h3,h4,h5,h6{
		font-size:25px ;
	}
	.img-galeria{
		width: 100%; 
		margin-left: 0%;
	}


	#mapa{
		width: 280px;
		height: 280px;
	}
	.logo-modal{
		width: 100px;
	}
	.div-apoio>a>img{
	 
	margin-left: 0%;
	 
}

}

@media only screen and (max-width: 335px) {
	.icon-footer{

		font-size: 15px;
		/*padding: 12px;*/
	}
		.div-apoio>a>img{
	 
	margin-left: 0%;
	 
}
}


@media only screen and (max-height: 450px) {
	.nav-bope-hidden{
		display: none;
	}

	.nome-navbar{
		font-size: 15px;
	}
	.logo-navbar{
		width: 40px;
	}
	.navbar-topo-bope{
		height: 10px;
		width: 230px;

		margin-left: 30px;
	}
	.logo-navbar{
		width: 40px;
	}
	body{
		margin-top: 40px;
	}
	#menu-footer{
		padding-top: 1px;
		height: 25px;
	}
	.div-apoio>a>img{
		width: 120px;
		margin-left: 20%;
	}
}
