

body{
	margin-bottom: 60px;
}

.div-apoio{
height: 180px;

}

@media only screen and (max-width: 939px) {
	.jumbotron{
		font-size: 30px;
	}
	h1,h2{
		font-size:30px ;
	}
	#mapa{
		width: 400px;
		height: 400px;
	}
}
@media only screen and (max-width: 500px) {
	h1,h2,h3,h4,h5,h6{
		font-size:25px ;
	}

	#mapa{
		width: 280px;
		height: 280px;
	}
}

@media only screen and (max-height: 400px) {
	.nav-bope-hidden{
		display: none;
	}
	.navbar-topo-bope{
		height: 10px;
		width: 230px;

		margin-left: 30px;
	}
	.logo-navbar{
		width: 40px;
	}
	body{
		margin-top: 40px;
	}
	#menu-footer{
		height: 25px;
	}
}
